.App {
  margin: 10vw;
  display: grid;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: radial-gradient(60vw at 20% 20%, #9B51E0 0%, #7204D9 100%); */
  position: absolute;
  left: 0;
  top: 0;
  width: 80vw;
}

h1 {
  width: 100%;
}

input {
  margin: 10px auto;
  padding: 1em;
  border-radius: 0.2em;
  border: 1px solid #d9dbe4;
  width: 40vw;
}

h2 {
  font-weight: 800;
  font-size: 2em;
}

h2.success {
  color: #319bff;
}

h2.fail {
  color: #ff6666;
}

button {
  margin: 0.2em auto;
  width: 40vw;
  border: none;
  border-radius: 0.2em;
  font-family: 'Open Sans', -apple-system, sans-serif;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f5f6fa;
}

.checkbutton {
  background: linear-gradient(162.22deg, #60cfff -36.79%, #2a91f0 114.42%);
  box-shadow: inset 0px -2px 2px rgba(11, 118, 206, 0.6);

  font-size: 30px;
  height: 80px;
  margin: 0.1em;
}

.nextbutton {
  background: linear-gradient(162.22deg, #dde1e4 -36.79%, #d0d5da 114.42%);
  margin: 0.1em;

  font-size: 20px;
  height: 60px;
}

p.description {
  width: 300px;
  white-space: pre-wrap;
  line-height: 1.4em;
}

.home {
  margin: 0 auto;
}
